<footer class="bg-dark text-white">
    <div class="container p-2">
        <div class="row">
            <div class="mx-auto text-center">
                <p>Z1 | Digital Product Studio</p>
            </div>
        </div>
    </div>
</footer>